<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Empresas</title>

    <!-- Enlaces a estilos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand"><strong>Financial Tracker</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="movimientos">Movimientos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="empleados">Empleados <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="empresas">Empresa <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form id="searchForm" class="form-inline my-2 my-lg-0">
                    <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-5">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-0 text-primary" style="font-size: 200%; font-weight: bold;">Empresas</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="empresaTable" width="100%" cellspacing="0">
                            <div>
                                <a href ="/empresas/newEmpresa" type="button" class="btn btn-outline-secondary float-right mb-2">Nueva Empresa</a>
                            </div>
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre de la Empresa</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Nit</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="empresas: ${empresas}">
                                <td th:text = "${empresas.id}"></td>
                                <td th:text = "${empresas.nombre}"></td>
                                <td th:text = "${empresas.direccion}"></td>
                                <td th:text = "${empresas.telefono}"></td>
                                <td th:text = "${empresas.nit}"></td>
                                <td>
                                    <div class="d-inline text-center" style="display: inline-block;">
                                        <form th:action="@{/empresa/{id}(id=${empresas.id})}" th:method = "delete">
                                            <div class="d-inline" style="display: inline-block;">
                                                <a th:href="@{/empresa/edit/{id}(id=${empresas.id})}" class="btn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                            <button type="submit" class="btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; FinancialTracker Grupo7 UdeA - 2023</span>
                </div>
            </div>
        </footer>



    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script src="js/demo/chart-bar-demo.js"></script>
    <script src="../static/js/demo/datatables-demo.js"></script>

</body>

</html>

<script>
    document.getElementById("searchForm").addEventListener("submit", function (event) {
       event.preventDefault(); // Evita que el formulario se envíe de forma predeterminada

       var input = document.getElementById("searchInput").value.toLowerCase();
       var table = document.getElementById("empresaTable");
       var rows = table.getElementsByTagName("tr");

       for (var i = 1; i < rows.length; i++) { // Comienza desde 1 para omitir la fila de encabezado
          var row = rows[i];
          var cells = row.getElementsByTagName("td");
          var rowText = "";

          for (var j = 0; j < cells.length; j++) {
             rowText += cells[j].textContent.toLowerCase() + " ";
          }

          // Muestra u oculta la fila según si el término de búsqueda está en la fila
          row.style.display = rowText.includes(input) ? "" : "none";
       }
    });
</script>